header#header
  .container
    nav.navbar
      a.navbar-logo(href="/")
        img(src="/EW_Logo.svg", alt="Logo")
        h1 Energy Web
      .navbar-hamburger
        .navbar-hamburger-line.navbar-hamburger-line-1
        .navbar-hamburger-line.navbar-hamburger-line-2
      ul.navbar-menu
        li.navbar-menu-item
          a.navbar-menu-item-link.link(href="#profile") About Us
        li.navbar-menu-item
          a.navbar-menu-item-link.link(href="#team") Media
        li.navbar-menu-item
          a.navbar-menu-item-link.link(href="#mission") Contact Us
        li.navbar-menu-item
          a.navbar-menu-item-link.btn(href="#investments" data-text="Join Edge")
            span Join Edge