.timeline.timeline-six.px-3.px-sm-0
  .row.g-0.fixed-margin
      .col-lg.py-2
        .card.border-gray-300
          .card-body.left
            h2.h5.mb-2 Real World assets
            p.card-text.mt-3.mb-4
              | like Renewable Energy facilities and the companies that own and operate them
      .col-lg-2.col-md-1.text-center.flex-column.d-none.d-sm-flex.line-seperator
        span.avatar-separator
          .circle 01
        .line-box
          .col.vr &nbsp;
          .col &nbsp;
        .line-box
          .col.vr &nbsp;
          .col &nbsp;
      .col-md
  .row.g-0.fixed-margin
    .col-lg
    .col-lg-2.col-md-1.text-center.flex-column.d-none.d-sm-flex.line-seperator
      span.avatar-separator
        //- img(src="/cr-world-dots.png", alt="world-dots")
        .circle 02
      .line-box.h-50
        .col.vr &nbsp;
        .col &nbsp;
      .line-box.h-50
        .col.vr &nbsp;
        .col &nbsp;
    .col-lg.py-2
      .card.border-gray-300
        .card-body
          h2.h5.mb-2 Sustainability related financial products
          p.card-text.mt-3.mb-4
            | These products are mostly created with special types of NFT and their fractionalizations
          .learn-more 
            span.header learn more
            .li-item
              span ERC-1155
              img(src="/arrow-right.svg", alt="arrow-right")
            .li-item 
              span ERC-1888
              img(src="/arrow-right.svg", alt="arrow-right")
