.nav-slider {
  position: fixed;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3%;
  color: $color-background;
  background: $color-darkpurple;
  border-radius: 100px;
  @include font-subheading2($size: 0.5rem);
  opacity: 0;

  @include media('>=phone') {
    @include font-subheading2($size: 0.65rem);
    margin: 0;
  }

  .nav-list {
    display: flex;
    white-space: nowrap;
    padding: 0.5rem;
    position: relative;
    overflow: hidden;

    .nav-pad {
      position: absolute;
      top: 0.5rem;
      left: 1.1%;
      width: 165px;
      height: 40px;
      padding: 0.5rem 1rem;
      background: $color-lightpurple;
      border-radius: 100px;
      z-index: -1;
    }

    .nav-item {
      padding: 0.5rem 1rem;
      vertical-align: middle;
      display: flex;
      align-items: center;
      color: $color-gray;
      cursor: pointer;
      transition: all 0.3s ease;
      border-radius: 100px;
      user-select: none;
      -webkit-tap-highlight-color: transparent;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      svg {
        margin-right: 10px;
      }

      @include media('>=phone') {
        &:hover {
          background: rgba($color: #000000, $alpha: 0.3);
        }
      }

      @include media('<=phone') {
        padding: 0.5rem 0.3rem;

        &-text {
          display: none;
        }

        svg {
          margin-right: 0;
        }
      }
    }

    .nav-item.active {
      pointer-events: none;
      // background: $color-primary;
      color: $color-darkpurple;
      border-radius: 100px;

      svg {

        path,
        rect {
          fill: $color-darkpurple;
        }
      }

      @include media('<=phone') {

        svg {
          margin-right: 10px;
        }
      }
    }
  }
}

.nav-slider .nav-list .nav-item.active .nav-item-text {
  @include media('<=phone') {
    display: block;
  }
}


#intro {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 100%;

  .slider-master {
    width: 100%;
    height: 100vh;
    border-radius: 0;

    .swiper {
      margin: 0 auto;
      width: 100%;
      height: 100%;
      border-radius: 0;
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      border-radius: 0;

      .slide-overlay {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 1.2%, rgba(0, 0, 0, 0) 29.89%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      .slide-subtitle {
        position: absolute;
        z-index: 2;
        left: 50%;
        bottom: 40%;
        width: 70%;
        text-align: center;
        transition: opacity 0.5s $ease-inout-expo, transform 0.5s $ease-inout-expo;
        transform: translateX(-50%) translateY(40px);
        opacity: 0;
        text-transform: none !important;
        @include font-subheading2($size: $font-size-small);

        @include media('<=phone') {
          top: 48%;
          @include font-subheading2($size: 1rem);
        }
      }

      .slide-title {
        width: 95%;
        position: absolute;
        z-index: 2;
        left: 50%;
        bottom: 20%;
        text-align: center;
        @include font-heading($size: 1.4rem);
        transition: opacity 0.5s $ease-inout-expo, transform 0.5s $ease-inout-expo;
        transform: translateX(-50%) translateY(40px);
        max-height: 178px;
        line-height: 60px;
        font-size: 60px;
        text-align: center;
        opacity: 0;

        @include media('>=phone') {
          width: 70%;
          bottom: 20%;
          @include font-heading($size: 2.5rem);
        }
      }

      .s-zero {
        max-width: 1167px;
      }

      .s-one {
        max-width: 800px;
      }

      .s-two {
        max-width: 671px;
      }

      .s-three {
        max-width: 950px;
      }

      .s-four {
        max-width: 820px;
      }

      .slide-btn {
        background: $color-background;
        color: $color-primary;
        border-radius: 100px;
        padding: 0.8rem 1.8rem;
        text-transform: none !important;
        white-space: nowrap;
        position: absolute;
        z-index: 2;
        left: 50%;
        bottom: 5%;
        transform: translateX(-50%);
        cursor: pointer;
        @include font-small();
        transition: opacity 0.5s $ease-inout-expo, transform 0.5s $ease-inout-expo;
        transform: translateX(-50%) translateY(40px);
        opacity: 0;

        svg {
          margin-left: 0.5rem;
          transform: scale(1.1);
        }

        @include media('>=phone') {
          bottom: 10%;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .swiper-slide-active {

      .slide-title,
      .slide-subtitle,
      .slide-btn {
        opacity: 1;
        transform: translateX(-50%) translateY(0px);
      }

      .slide-title {
        transition-delay: 0.35s;
      }

      .slide-subtitle {
        transition-delay: 0.3s;
      }

      .slide-btn {
        transition-delay: 0.25s;
      }
    }
  }
}

#content {
  margin-top: 100vh;
  margin-bottom: 0;
  padding-top: 8rem;
  background: white;
  position: relative;
  z-index: 2;

  .row {
    &:not(:last-child) {
      margin-bottom: 7rem;
    }
  }

  .fixed-margin {
    margin-bottom: 0 !important;
    overflow: hidden;
  }

  .content {

    &-wrap {
      overflow: hidden;

      &:not(:first-child) {
        display: none;
      }
    }


    &-title,
    &-subtitle {
      margin-bottom: 2rem;
    }

    &-title {

      strong {
        font-weight: 600;
      }
    }

    &-desc {
      color: $color-graytext;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }

  img {
    width: 100%;
  }

  #nextchapter {
    padding: 20rem 0;//Add space around, keep scrolling for next chapter

    .nextchapter {

      &-loading {
        max-width: 300px;
        height: 2px;
        background: $color-gray2;
        bottom: -15px;
        position: relative;
        display: block;
        margin: 0 auto;
      }

      &-text {
        width: 100%;
        position: absolute;
        top: -40px;
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
        color: $color-gray;
      }

      &-fill {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        background: $color-primary;
        transform-origin: left;
        transform: scaleX(0);
      }
    }
  }
}

.f-small {
  font-size: 20px;
}

.f-medium {
  font-size: 30px;
}

.f-large {
  font-size: 42px;
}

.f-larger {
  font-size: 60px;
}

.t-end {
  text-align: right;
}

.t-center {
  text-align: center;
}

.t-start {
  text-align: start;
}

.h-42 {
  line-height: 42px;
}

.h-26 {
  line-height: 26px;
}

.h-60 {
  line-height: 60px;
}

.h-52 {
  line-height: 52px;
}

.h-48 {
  line-height: 48px;
}

.h-84 {
  line-height: 84px;
}

.gradient {
  border-radius: 10px;
  width: fit-content;
  padding: 0 5px;
  background: rgb(235,185,242);
  background: linear-gradient(90deg, rgba(235,185,242,1) 0%, rgba(246,170,170,1) 50%, rgba(165,102,255,1) 100%);
}

.w-height {
  height: 85px;
  padding: 20px 12px;
}

.blocked-center {
  display: block;
  margin: 0 auto;
}

.underline {
  text-decoration: underline;
}