doctype html
html(lang="en")
  head
    include ./component/head
    block SEO
    //- block styles
  body
    //- include ./component/navigation
    include ./component/app
    block App
    block scripts
    