.wide-image 
    img(src="/zero-line-strokes.png", alt="strokes").back-img
.container
    .content-wrap.content-0
        .row.mb-0.bg.relative-header
            .col-lg-6.px-0
                .text-box.flex-no-gaps
                    article.b-one-zero They have operations across the world and today it is incredibly difficult to buy energy that they can trust is actually sourced from renewable facilities with real sustainable practices.
            .col-lg-6.px-0
                .zero-box
                    img(src="/zero.png", alt="zero").zero
                    .article Luckily she can use Zero, the EWF <span> Global Renewable Search Engine</span> that is as easy to use as a flight search aggregator. 
        .row.mb-0.bg.sticked
            //- .backimage
            //-     img(src="/zero-b-one-back.png", alt="zero-b")
                //- include ../smaller.pug
            .section-image.mg-top-overlay
                img(src="/section-two-zero.png", alt="zero")
        .row.mb-0.bg.col-reversed
            .col-lg-5.px-0
                .text-box.flex-no-gaps
                    h1.f-small.t-center This allows Anna and others to
                    article.b-zero <span class="fancy">Trace </span> and <span class="fancy">Trust</span> the Information and the process
                    h1.f-small.t-center This allows Anna and others to
            .col-lg-7.px-0
                img(src="sec-three-zero.png", alt="")