.container
    .content-wrap.content-1
        img(src="/electric-long-image.png", alt="longer-image")
        //- .row.mb-0.bg
        //-     .col-lg-6.px-0
        //-         .text-box.a-center
        //-             article.f-large.h-48.block-one-t-one EDGE is giving him the ability to see and interact with assets that she was previously blind to:
        //-     .col-lg-6.px-0
        //-         .text-box.a-center 
        //-             article.f-medium.h-48.block-one-t-two solar systems, batteries, and other sources of flexible load owned by end customers
        //- .row.mb-0.gray
        //-     .col-lg-6.px-0
        //-         img(src="/scooter.png" alt="scooter").block-one-img
        //-     .col-lg-6.px-0
        //-         .text-box.to-right.flex-no-gaps
        //-             img(src="/block-two-g-1.png", alt="block-gradient").g-sized
        //-             article.f-large Anchored on the<br> <u>Energy Web Chain</u>
        //-             article.f-medium.mt-5 We know that we have a battery and where, and we can use it to store or discharge energy to the grid as needed
        //- .row.mb-0.bg
        //-     .col-lg-6.px-0
        //-         .text-box
        //-             article.f-medium.t-end Before we were blind, <br> and now we see
        //-             article.f-medium.t-end thanks to the traceability <br> and transparency of the <br> Energy Web stack.
        //-     .col-lg-6.px-0
        //-         img(src="/aemo-eye.png" alt="aemo-el")(class="large-sc").to-right.large-sc