.container
    .content-wrap.content-4
        .row.mb-0.bg
            .col-lg-6.px-0
                .text-box
                    h1.f-large.h-52 To help increase the demand for clean energy in one of the dirtiest grids
                    article.f-medium.h-48 Renewable energy power plants.
            .col-lg-6.px-0
                img(src="/dark-mattery.png" alt="mattery")
        .row.mb-0.bg
            .centered-items 
                img(src="/actions-icon.png", alt="actions").icon
                span Anna’s simple actions
                h1 Boosted the economics of different Renewable energy Power plants
                p Making it easier for more to be constructed and more quickly decarbonize the global energy system
.world-footer
    img(src="/world-foo.png", alt="world-footer").large-sc
    img(src="/shortern-world-f.png", alt="world-footer").small-sc
    .container
        .footer-text
            p.f-medium.t-start.smaller-p Digitizing renewables, makes them easier and faster to buy, which as a consequence increases the demand and ultimately drives
            p.f-larger.t-start.h-60 More investments in zero-carbon resources
.world-footer.smaller-footer
    img(src="/zero-one-footer-image.png", alt="")