.container
    .content-wrap.content-0
        .row.mb-0.bg.relative-header
            .section-image-one
                img(src="/sec-one-img-zero.png", alt="sec-one")
            //- img(src="/zero-line-strokes.png", alt="strokes").back-img
            //- .col-lg-6.px-0
            //-     .text-box.flex-no-gaps
            //-         article.b-one-zero They have operations across the world and today it is incredibly difficult to buy energy that they can trust is actually sourced from renewable facilities with real sustainable practices.
            //- .col-lg-6.px-0
            //-     .zero-box
            //-         img(src="/zero.png", alt="zero").zero
            //-         .article Luckily she can use Zero, the EWF <span> Global Renewable Search Engine</span> that is as easy to use as a flight search aggregator. 
        .row.mb-0.bg.sticked
            //- .backimage
            //-     img(src="/zero-b-one-back.png", alt="zero-b")
                //- include ../smaller.pug
            .section-image.mg-top-overlay
                img(src="/section-two-zero.png", alt="zero")
        .row.mb-0.bg.col-reversed
            .section-image
                img(src="/section-three-zero.png", alt="zero")