.container
    .content-wrap.content-1.splitter-container
        .row.mb-0.bg
            .col-lg-6.px-0.zero-sec-one
                img(src="/enter-image-one.png", alt="enter-iamge-one")
            .col-lg-6.px-0
                .text-box.flex-no-gaps.zero-sec-two
                    img(src="/enter-iamge-two.png", alt="enter-image-two").section-zero-image
                    .desc-text 
                        h1 Making it 
                        article 
                            span.fan-one Easy...
                            span.fan-two Transparent...
                            span.fan-three Trustworthy...
                        p For new customers to discover and purchase renewables from their facilities.
        .row.mb-0.gray.zero-sec-two
            .placeholder-text Because
            .image-placeholder 
                img(src="/sec-two-three.png", alt="sec-two").one
            .image-placeholder 
                img(src="/houses.png", alt="sec-two").two
            article.t-center it also allows energy suppliers and brokers  to tap into many new pools of buyers, like all the crypto companies  that want to decarbonize the crypto industry 
    .border-liner
.world-footer.crypto-f
    img(src="/sec-two-footer.png" alt="world-footer")
    .container.main-box
        .zero-footer-text
            .t-center
                h1 That want to <u>Decarbonize the crypto industry</u>
            .t-center 
                h2 And that signed the EW spearheaded Crypto Climate Accord